/* main style  */
main {
    /* display flex */
    display: flex;
    /* flex-direction row to put font setting on right side */
    flex-direction: row;
}


/* style for left side */
.left-col {
    width: 50%;
    /* add space between borders with padding */
    padding: 5px; 
}

/* style for right side */
.right-col {
    width: 50%;
    /* add space between borders with padding */
    padding: 5px; 
}

/* style for headline display */
#headline-display {
    border: 2px solid black;
    padding: 50px;
    text-align: center;
}

/* data-input style */
#data-input {
    border: 2px solid black;
    padding: 20px;
}


/* this centers the h1 text in my data-output, which is the 'Font Settings' */
#data-output > h1 {
    text-align: center;
}